<div class='chr-form-small'>
  <%= simple_form_for @object, url: @form_action_url, method: :post do |f| %>

    <%= f.input :female_title %>
    <%= f.input :male_title %>

    <div class='female-image'>
      <%= image_tag @object.female_image.grid.url %>
      <%= f.input :female_image, as: :file, label: false %>
    </div>

    <div class='male-image'>
      <%= image_tag @object.male_image.grid.url %>
      <%= f.input :male_image, label: false %>
    </div>

    <%= f.input :female_description, as: :text, input_html: { rows: 8 } %>
    <%= f.input :male_description, as: :text, input_html: { rows: 8 } %>

    <% Question.all.each do |q| %>
      <%= f.association :answers, as: :check_boxes, collection: q.answers.all, label: q.title %>
    <% end %>
  <% end %>
</div>