<div class='app-layout'>
  <header id='app_header' class='app-header hidden'>
    <div class='logo'></div>
    <nav id='nav'>
      <a href='#1' class='current'>Step 1</a>
      <a href='#2' class='locked'>Step 2</a>
      <a href='#3' class='locked'>Step 3</a>
      <a href='#4' class='locked'>Step 4</a>
      <a href='#5' class='locked'>Step 5</a>
      <a href='#6' class='locked'>Step 6</a>
    </nav>
  </header>

  <section id='app_loading' class='app-loading'>
    <div class="loadingpulse"></div>
  </section>

  <section id='app_welcome' class='app-welcome hidden'>
    <div class='buttons'>
      <button id='start'>Get Started</button>
    </div>
  </section>

  <section id='app_wizzard' class='app-wizzard hidden'>
    <div class='app-screen gender'>
      <div class='buttons'>
        <button id='male_choice' class='next-screen'>Male</button>
        <button id='female_choice' class='next-screen'>Female</button>
      </div>
    </div>

    <% @questions.each do |q| %>
    <div class='app-screen question hidden'>
      <h2><%= q.title %></h2>
      <ul class='choices'>
        <% q.answers.all.each do |a| %>
        <li class='next-screen' data-id='<%= a.id %>'>
          <%= image_tag a.image.grid.url, alt: a.title %>
          <strong><%= a.title %></strong>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class='app-screen result hidden'>
      <% @characters.each do |c| %>
      <div class='character hidden' data-id='<%= c.id %>'>
        <div class='photo male hidden'></div>
        <div class='photo female hidden'></div>

        <div class='details'>
          <h1 class='male hidden'><%= c.male_title %></h1>
          <h1 class='female hidden'><%= c.female_title %></h1>
          <p class='male hidden'><%= c.male_description %></p>
          <p class='female hidden'><%= c.female_description %></p>

          <div class='subscription'>
            <h4 style='margin-bottom: 10px;'>Stay Connected</h4>
            <p>Sign up for the getTV newsletter to receive early access and the latest updates including personalized scheduling.</p>
            <%= simple_form_for Submission.new() do |f| %>
              <%= f.input :email,          label: 'Email Address' %>
              <%= f.input :full_name,      label: 'Full Name' %>
              <%= f.input :zip_code,       label: 'ZIP Code' %>
              <%= f.input :favorite_genre, label: 'Favorite Classic Movie Genre', collection: @genres %>
              <%= f.input :character, as: :hidden %>
              <%= f.input :answers,   as: :hidden %>
              <%= f.submit 'Sign up', class: 'button' %>
            <% end %>
            <div class='subscription-thanks hidden'><p>Thanks for participating! You'll hear more from us soon...stay tuned!</p></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div>

<script>
  window.CHARACTERS = {};
  <% @characters.each do |c| %>
  window.CHARACTERS['<%= c.id %>'] = [<%= c.answers.map { |a| "'#{ a.id.to_s }'" }.join(', ').html_safe %>];
  <% end %>
</script>