<div class='app-layout'>
  <header id='app_header' class='app-header hidden'>
    <div class='logo'><%= image_tag 'logo-block@2x.png' %></div>
    <nav id='nav'>
      <div class='step current'>
        <div class='cap'>1</div>
        <div class='number'>Step One</div>
        <h2 class='title'>Gender</h2>
      </div>
      <% @questions.each_with_index do |q, i| %>
      <div class='step locked'>
        <div class='cap'><%= i + 2 %></div>
        <div class='number'>Step <%= %w(Two Three Four Five)[i] %></div>
        <h2 class='title'><%= q.title %></h2>
      </div>
      <% end %>
    </nav>
  </header>

  <section id='app_loading' class='app-loading'>
    <%= render partial: 'logo' %>
    <div class="loadingpulse"></div>
  </section>

  <section id='app_welcome' class='app-welcome hidden'>
    <div class='buttons'>
      <%= image_tag 'logo-block@2x.png' %>
      <h2>What Kind of Classic Movie Character Are You?</h2>
      <!-- <p>getTV is a new television network that brings the classic films you love to your living room. Enjoy the glamour of old Hollywood with legendary actors and award-winning films playing all day and night. Answer a few questions to find out which Golden Age movie icon you are.</p> -->
      <button id='start' class='btn orange'>Get Started</button>
    </div>
  </section>

  <section id='app_wizzard' class='app-wizzard hidden'>
    <div class='app-screen gender'>
      <div class='buttons'>
        <h2>Please select your gender</h2>
        <button id='male_choice' class='next-screen btn blue'><%= image_tag 'icons/сheckmark2x.png', class: 'chkmrk' %>Male</button>
        <button id='female_choice' class='next-screen btn pink'><%= image_tag 'icons/сheckmark2x.png', class: 'chkmrk' %>Female</button>
      </div>
    </div>

    <% @questions.each do |q| %>
    <div class='app-screen question hidden'>
      <h2><%= q.tagline %></h2>
      <ul class='choices'>
        <% q.answers.all.each do |a| %>
        <li class='next-screen' data-id='<%= a.id %>'>
          <div class='img-holder'>
            <div class='overflow'><%= image_tag 'icons/сheckmark2x.png', class: 'chkmrk' %></div>
            <%= image_tag a.image.grid.url, alt: a.title %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class='app-screen result hidden'>
      <% @characters.each do |c| %>
      <div class='character hidden' data-id='<%= c.id %>'>

        <h2 class='male hidden'>You are <span class='character-name'><%= c.male_title %></span>!</h2>
        <h2 class='female hidden'>You are <span class='character-name'><%= c.female_title %></span>!</h2>

        <div class='details'>
          <div class='subscription'>
            <%= simple_form_for Submission.new(), html: { onsubmit: "return false;" } do |f| %>
              <input class='helper' style='opacity:0; position: absolute;' />
              <h2>Stay Connected</h2>
              <p>Sign up for the getTV newsletter to receive early access and the latest updates including personalized scheduling.</p>
              <%= f.input :email,          label: 'Email Address' %>
              <%= f.input :full_name,      label: 'Full Name' %>
              <%= f.input :zip_code, as: :integer, label: 'ZIP Code', input_html: { pattern: "\d*" } %>
              <%= f.input :favorite_genre, label: 'Favorite Classic Movie Genre', collection: @genres %>
              <%= f.input :character, as: :hidden %>
              <%= f.input :answers,   as: :hidden %>
              <input id="submission_phone" name="submission[phone]" type="phone">
              <%= f.submit 'Sign up', class: 'button' %>
            <% end %>
            <div class='subscription-thanks hidden'>
              <p>Thanks for participating! You'll hear more from us soon... stay tuned!</p>
            </div>
          </div>

          <div class='profile male hidden'>
            <%= image_tag c.male_image.grid.url, class: 'photo' %>
            <p><%= c.male_description %></p>
          </div>

          <div class='profile female hidden'>
            <%= image_tag c.female_image.grid.url, class: 'photo' %>
            <p><%= c.female_description %></p>
          </div>

        </div>
      </div>
      <% end %>

      <button class='btn orange restart'><%= image_tag 'icons/start-over2x.png' %> Play Again</button>
    </div>
  </section>
</div>

<script>
  window.CHARACTERS = {};
  <% @characters.each do |c| %>
  window.CHARACTERS['<%= c.id %>'] = [<%= c.answers.map { |a| "'#{ a.id.to_s }'" }.join(', ').html_safe %>];
  <% end %>

  window.PRELOADED_IMAGES = [];
  <% @characters.each do |c| %>
  window.PRELOADED_IMAGES.push('<%= c.male_image.grid.url %>');
  window.PRELOADED_IMAGES.push('<%= c.female_image.grid.url %>');
  <% end %>
  <% @answers.each do |a| %>
  window.PRELOADED_IMAGES.push('<%= a.image.grid.url %>');
  <% end %>
  window.PRELOADED_IMAGES.push("<%= asset_path('icons/start-over2x.png') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('icons/сheckmark2x.png') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('answer-bg.png') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('answer-bg@2x.png') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('background.jpg') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('background@2x.jpg') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('logo-block@2x.png') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('male-female-bg.png') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('male-female-bg@2x.png') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('result-bg.png') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('result-bg@2x.png') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('start-bg.png') %>");
  window.PRELOADED_IMAGES.push("<%= asset_path('start-bg@2x.png') %>");
</script>