<div class='app-layout'>
  <header id='app_header' class='app-header hidden'>
    <div class='logo'><%= image_tag 'logo-block.png' %></div>
    <nav id='nav'>
      <div class='step current'>
        <div class='cap'>1</div>
        <div class='number'>Step One</div>
        <h2 class='title'>Gender</h2>
      </div>
      <% @questions.each_with_index do |q, i| %>
      <div class='step locked'>
        <div class='cap'><%= i + 2 %></div>
        <div class='number'>Step <%= %w(Two Three Four Five)[i] %></div>
        <h2 class='title'><%= q.title %></h2>
      </div>
      <% end %>
    </nav>
  </header>

  <section id='app_loading' class='app-loading'>
    <%= render partial: 'logo' %>
    <div class="loadingpulse"></div>
  </section>

  <section id='app_welcome' class='app-welcome hidden'>
    <div class='buttons'>
      <%= image_tag 'logo-block.png' %>
      <h2>What classic film buff are you?</h2>
      <p>getTV is a new television network that brings the classic films you love to your living room. Enjoy the glamour of old Hollywood with legendary actors and award-winning films playing all day and night. Answer a few questions to find out which Golden Age movie icon you are.</p>
      <button id='start' class='btn orange'>Get Started</button>
    </div>
  </section>

  <section id='app_wizzard' class='app-wizzard hidden'>
    <div class='app-screen gender'>
      <div class='buttons'>
        <h2>Please select your gender</h2>
        <button id='male_choice' class='next-screen btn blue'>Male</button>
        <button id='female_choice' class='next-screen btn pink'>Female</button>
      </div>
    </div>

    <% @questions.each do |q| %>
    <div class='app-screen question hidden'>
      <h2><%= q.tagline %></h2>
      <ul class='choices'>
        <% q.answers.all.each do |a| %>
        <li class='next-screen' data-id='<%= a.id %>'>
          <%= image_tag a.image.grid.url, alt: a.title %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class='app-screen result hidden'>
      <% @characters.each do |c| %>
      <div class='character hidden' data-id='<%= c.id %>'>

        <h2 class='male hidden'>You are <%= c.male_title %>!</h2>
        <h2 class='female hidden'>You are <%= c.female_title %>!</h2>

        <div class='details'>
          <div class='subscription'>
            <h2>Stay Connected</h2>
            <p>Sign up for the getTV newsletter to receive early access and the latest updates including personalized scheduling.</p>
            <%= simple_form_for Submission.new() do |f| %>
              <%= f.input :email,          label: 'Email Address' %>
              <%= f.input :full_name,      label: 'Full Name' %>
              <%= f.input :zip_code,       label: 'ZIP Code' %>
              <%= f.input :favorite_genre, label: 'Favorite Classic Movie Genre', collection: @genres %>
              <%= f.input :character, as: :hidden %>
              <%= f.input :answers,   as: :hidden %>
              <%= f.submit 'Sign up', class: 'button' %>
            <% end %>
            <div class='subscription-thanks hidden'>
              <p>Thanks for participating! You'll hear more from us soon...stay tuned!</p>
            </div>
          </div>

          <%= image_tag '', class: 'photo male hidden' %>
          <%= image_tag '', class: 'photo female hidden' %>

          <p class='male hidden description'><%= c.male_description %></p>
          <p class='female hidden description'><%= c.female_description %></p>

        </div>
      </div>
      <% end %>

      <button class='btn orange restart'>Start Over</button>
    </div>
  </section>
</div>

<script>
  window.CHARACTERS = {};
  <% @characters.each do |c| %>
  window.CHARACTERS['<%= c.id %>'] = [<%= c.answers.map { |a| "'#{ a.id.to_s }'" }.join(', ').html_safe %>];
  <% end %>
</script>